:root {
  --white: #fff;
  --light-gray: #f0f3fa;
  --gray: #d5deef;
  --dark-gray: #b1c9ef;
  --light-blue: #8aaee0;
  --blue: #638ecb;
  --dark-blue: #395886;
  --black: #0f223d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--black);
  background-color: inherit;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-gray);
}
.app {
  width: 100%;
  height: 100%;
  > main {
    width: 100%;
    height: 89%;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
