:root {
  --white: #f0f3fa;
  --gray: #d5deef;
  --dark-gray: #b1c9ef;
  --light-blue: #8aaee0;
  --blue: #638ecb;
  --dark-blue: #395886;
  --black: #0f223d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--black);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}
